:root {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    background-image: url(../img/backgraubd.jpg);
    filter: hue-rotate(30deg), opacity(0.3), blur(3px); 
    background-origin: padding-box;
    background-size: cover;
    margin: 150px 150px 50px 150px;
}

fieldset {
    border: none;
    background-repeat: no-repeat; 
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px black, 2px 2px 5px blue;
}
h1::after{
    content: "!" ;
}

.box1 {
    position: relative;
}
  
.box1 input[type="e-mail"] {
    display: inline-block; 
    width: 400px;
    height: 40px;
    padding-left: 50px;
    margin-left: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    background-image: url(../sprite/css_sprites.png) no-repeat;
    background-position: -449px -548px;
    }
}


.box1 input[type="submit"] {
    width: 200px;
    height: 40px;
    border:  1px solid brown;
    color: red;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 1px 1px 4px black,
    inset  0px 3px 8px 1px red;
}

.contenier {
    display: inline-block;
    width: 450px;
    height: 120px;   
    margin-top: 50px; 
    margin-left: 400px;
}

.box2, .box3, .box4, .box5 {
    display: inline;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: 1px solid black;   
    background-color: white;
    margin-top: 25px;
    margin-right: 20px;
}

.box2 {
    background-image: url(../sprite/css_sprites.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px;
}

.box3 {
    background-image: url(../sprite/css_sprites.png);
    background-repeat: no-repeat;
    background-size: 20px;
    backgro
    und-position: 5px;
}
.box4 {
    background-image: url(../sprite/css_sprites.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px;
}

.box5 {
    background-image: url(../sprite/css_sprites.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px;
}

.link { 
    display: none;
}
.link+label {
    display: inline-block;
    margin: 7px;
    padding-left: 50px;
    font-size: 15px;
}

.spryte {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../sprite/css_sprites.png);
}
 
.spryte::before  {
    cursor: pointer;
    background-image: url(../sprite/css_sprites.png);
}

/*.spryte:nth-child(1) {
    background: url(../sprite/css_sprites.png);
    background-position: ;
}
.spryte::before:nth-child(1) {
    background: url(../sprite/css_sprites.png);
    background-position: ;
}*/

.spryte .oi1 {
    background-position:-10 -10 ;
}
